[packages]
Flask = "*"
psycopg = {version = "*", extras = ["binary", "pool"], index = "pypi"}
requests = "*"

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.11"

[dev-packages]
black = {version = "*", index = "pypi"}
isort = {version = "*", index = "pypi"}
flake8 = {version = "*", index = "pypi"}
flake8-bugbear = {version = "*", index = "pypi"}
flake8-comprehensions = {version = "*", index = "pypi"}
flake8-docstrings = {version = "*", index = "pypi"}
flake8-isort = {version = "*", index = "pypi"}
mypy = {version = "*", index = "pypi"}
pytest = {version = "*", index = "pypi"}
pytest-cov = {version = "*", index = "pypi"}
pytest-mock = {version = "*", index = "pypi"}
radon = {version = "*", extras = ["flake8"], index = "pypi"}
types-requests = {version = ">=2.25,<3", index = "pypi"}
