__pycache__
front/node_modules
front/dist
front/yarn.lock
front/pnpm-lock.yaml

## Pricemap Python
pricemap-python/.coverage
pricemap-python/coverage.xml
pricemap-python/junit-coverage.xml
pricemap-python/.pytest_cache
pricemap-python/.mypy_cache
