.header-box {
    padding: $space-m $space-l;
    box-shadow: $elevation-1;
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: $font-xl;
    margin: 0 25vw $space-l;
    width: 50vw;

    @media screen and (max-width: $min-screen-s) {
        margin: 0 5vw $space-l;
        width: 90vw;
    }

    @media screen and (min-width: $min-screen-l) {
        margin: 0 30vw $space-l;
        width: 40vw;
    }

}

.card-container {
    margin: 0 25vw;
    width: 50vw;

    @media screen and (max-width: $min-screen-s) {
        margin: 0 5vw;
        width: 90vw;
    }

    @media screen and (min-width: $min-screen-l) {
        margin: 0 30vw;
        width: 40vw;
    }

    &>h2 {
        margin-bottom: $space-m;
    }
}


.listing-form {

    &__card {
        align-items: baseline;
        border: 1px solid $neutral-1;
        border-radius: 4px;
        display: grid;
        grid-template-columns: 100%;
        margin-bottom: $space-m;
        padding: $space-l;
        width: 100%;
        background-color: lighten($neutral-1, 20%);

    }

    &__input-text {
        display: inline-block;
        width: 100%;
        padding: $space-s;
        margin-bottom: $space-s;
    }

    &__select {
        display: inline-block;
        padding: $space-s;
        margin-left: $space-s;
    }

    &__button {
        &--submit {
            color: $neutral-0;
            font-weight: bolder;
            background-color: $primary-70;
            padding: $space-s;
            border-radius: 4px;
            margin-top: $space-s;
            cursor: pointer;

            &:hover {
                background-color: darken($primary-70, 5%);
            }
        }
    }
}

.listing-card {
    align-items: baseline;
    border: 1px solid $neutral-1;
    border-radius: 4px;
    grid-template-columns: 100%;
    margin-bottom: $space-m;
    padding: $space-l;
    width: 100%;

    &__price {
        font-size: $font-l;
    }

    &__properties {
        font-size: $font-m;
        font-weight: normal;
        margin: 0;
    }

    &__properties-item {
        display: inline-block;

        &:not(:first-child):before {
            content: '\00a0-\00a0';
        }
    }

    &__reference {
        color: $neutral-2;
        font-style: italic;
    }

    &__link {
        border: solid 1px $primary-70;
        padding: $space-s;
        text-decoration: none;
        color: $primary-70;
        border-radius: 4px;
        float: right;
    }

    &__form-card {
        grid-column: 100%;

        background-color: lighten($neutral-1, 15%);

        .input-group {
            input {
                display: inline-block;
                width: 100%;
                padding: $space-s
            }
        }
    }
}