@import 'variables.scss';

#root {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  background-color: lighten($neutral-1, 20%);
}
