<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/leaflet.css" />
  <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
</head>

<body style="padding: 20px;">
  {% block base %}
  {% endblock %}
  <script src="/static/js/jquery-1.10.2.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/highstock.js"></script>
  <script src="/static/js/leaflet.js"></script>
  {% block scripts %}
  {% endblock %}
</body>
</html>
