@use './src/styles/variables' as *;

.listing-form {
  &__card {
    align-items: baseline;
    border: 1px solid $neutral-1;
    border-radius: 4px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: 100%;
    margin-bottom: $space-m;
    padding: $space-l;
    width: 100%;
    background-color: $neutral-0;
  }

  &__input-text {
    display: inline-block;
    width: 100%;
    padding: $space-s;
    margin-bottom: $space-s;
  }

  &__select {
    display: inline-block;
    padding: $space-s;
    margin-left: $space-s;
  }

  &__button {
    &--submit {
      color: $neutral-0;
      font-weight: bolder;
      background-color: $primary-70;
      padding: $space-s;
      border-radius: 4px;
      margin-top: $space-s;
      cursor: pointer;

      &:hover {
        background-color: darken($primary-70, 5%);
      }
    }
  }
}
