<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Nexus" value="https://nexus.aws.seloger.tools/repository/nuget-group" />
    <add key="Nexus" value="https://nexus.aws.seloger.tools/repository/nuget.seloger-proxy" />
    <add key="SeLoger.Seller" value="http://nuget.seloger.com/nuget/SeLoger.Seller/" />
  </packageSources>
  <packageSourceCredentials>
    <Nexus>
      <add key="Username" value="hicham.mellouk" />
      <add key="ClearTextPassword" value="3iniFik@Qs@" />
    </Nexus>
  </packageSourceCredentials>
  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
</configuration>
