// Colors
$neutral-0: rgb(255, 255, 255);
$neutral-1: rgb(195, 195, 195);
$neutral-2: rgb(34, 34, 34);
$primary-70: rgba(80, 9, 220, 1);

// Borders
$elevation-1: 0 1px 6px 1px rgba(0, 0, 0, 0.2);
$border-button: 0.5px solid rgba(71, 70, 70, 0.2);

// Spaces
$space-s: 8px;
$space-m: 16px;
$space-l: 24px;
$space-xl: 48px;

