@use './src/styles/variables' as *;

.listing-card {
  width: 100%;
  align-items: baseline;
  border: 1px solid $neutral-1;
  border-radius: 4px;
  grid-template-columns: 100%;
  margin-bottom: $space-m;
  padding: $space-l;
  background-color: $neutral-0;
  box-shadow: $elevation-1;

  &__price {
    font-size: $font-l;
  }

  &__properties {
    font-size: $font-m;
    font-weight: normal;
    margin: 0;
    padding: 0;
  }

  &__properties-item {
    display: inline-block;

    &:not(:first-child):before {
      content: '\00a0-\00a0';
    }
  }

  &__reference {
    color: $neutral-2;
    font-style: italic;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    border: solid 1px $primary-70;
    padding: $space-s;
    text-decoration: none;
    color: $primary-70;
    border-radius: 4px;
  }
}
